- var services = Array.from({ length: 6 }, (_, i) => ({icon: `https://new.axilthemes.com/demo/template/abstrak/assets/media/icon/icon-${i + 1}.png`,title: ["Design", "Development", "Online marketing", "Business", "Technology", "Content strategy"][i], description: "Simply drag and drop photos and videos into your workspace to automatically add them to your Collab Cloud library."}));

section.services
  .container
    .services__wrapper
      .services__header
        p.services__subtitle What We Can Do For You
        h2.services__title 
          | Services we can help 
          br
          | you with.
        p.services__description Nulla facilisi. Nullam in magna id dolor blandit rutrum eget vulputate augue sed eu imperdiet.

      .services__cards
        each service, index in services
          .services__card(class=(index === 1 ? "active" : ""))
            .services__card-img
              img(src=service.icon, alt=service.title + " Icon")
            .services__body
              h3.services__card-title= service.title
              p.services__card-description= service.description
  .services__bubbles
    .services__bubbles-line 
      img(src="https://new.axilthemes.com/demo/template/abstrak/assets/media/others/line-9.png")
    .services__bubbles-curve 
      img(src="https://new.axilthemes.com/demo/template/abstrak/assets/media/others/bubble-42.png")